@charset "UTF-8";

.PinfoTable2 {
	width: 800px;
	margin: 0 auto;
}

#ptabletitle2 {
	background: #373737;;
	color: white;
}

#ptableleft2 {
	background: #f8f9fa;
	text-align: center;
	width: 200px;
}

#ptableright2 {
	text-align: left;	
}

#pbtn2 {
	border: 1px solid #d9d9d9;
	background-color: white;
	color: black;
	padding: 5px;
}

#pbtn2:hover {
	background: #5E5E5E;
	color: white;
}

#tablebuttons1 {
	text-align: right;
}