@charset "UTF-8";



table.myorderlist01 {
	
	/* 	border: none; */
	width: 80%;
    margin: 0 auto;
}

tr.listRow01 {
	
	border-bottom: 3px solid black;
	
	
}

#listnum01 {
	
	width: 15%;
}

#listtitle01 {
	
	width: 50%;
}

#listdate01 {
	
	width: 20%;
}

#listwriter01 {
	
	width: 15%;
}

